
.frame-321mess{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto auto auto;
  width: 1200px;
}
.frame-190mess{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 366px;
  position: relative;
}
.messagesmess{
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-1-font-size, 38px);
  font-weight: var(--header-1-font-weight, 600);
  position: relative;
}
.shop-buttonmess {
    background: var(--red, #93151f);
    border-radius: 25.5px;
    padding: 13px 16px 13px 16px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 49px;
    left: 950px;
    top: 5px;
    position: absolute;
  }
  .shopmess {
    color: var(--beige, #fff8ef);
    text-align: center;
    font-family: var(--button-font-family, "Inter-Medium", sans-serif);
    font-size: var(--button-font-size, 20px);
    line-height: var(--button-line-height, 18px);
    font-weight: var(--button-font-weight, 500);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


.group-83mess{
  flex-shrink: 0;
  width: 366px;
  height: 661px;
  position: static;
}
.searchmess{
  color: #676767;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 72.14px;
  top: 84px;
  width: 81.26px;
  height: 19px;
  -webkit-text-stroke: 1px var(--black, #000000);
}
.divmess{
  color: #000000;
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  left: 18.48px;
  top: 78px;
  width: 53.66px;
  height: 36px;
  -webkit-text-stroke: 1px var(--black, #000000);
}
.ellipse-14mess{
  background: #ffe8d4;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  width: 42.93px;
  height: 28px;
  position: absolute;
  left: 36.88px;
  top: 135px;
}
.ellipse-17mess{
  background: #ffe8d4;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  width: 42.93px;
  height: 28px;
  position: absolute;
  left: 36.88px;
  top: 294px;
}
.ellipse-18mess{
  background: #ffe8d4;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  width: 42.93px;
  height: 28px;
  position: absolute;
  left: 36.88px;
  top: 350px;
}
.ellipse-19mess{
  background: #ffe8d4;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  width: 42.93px;
  height: 28px;
  position: absolute;
  left: 36.88px;
  top: 404px;
}
.frame-93mess{
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--grey-text, #6d6d6d);
  border-width: 1px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 366px;
  height: 661px;
  position: absolute;
  left: 0px;
  top: 78px;
}
.frame-201mess{
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.frame-205mess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div2mess{
  color: var(--form-grey, #3b3b3b);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: relative;
  width: 18px;
  height: 19px;
}
.search2mess{
  color: var(--grey-text, #6d6d6d);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.textmess{
  color: var(--grey-text, #6d6d6d);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
}
.messages-from-peoplemess{
  background: var(--color, #faf5ee);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.emily-cartermess{
  background: var(--color, #faf5ee);
  border-radius: 20px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 139px;
  position: relative;
}
.check-box-outline-blankmess{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-313mess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ellipse-31mess{
  border-radius: 50%;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  object-fit: cover;
}
.frame-208mess{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.frame-74mess{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.john-snowmess{
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-165mess{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.custom-ordermess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  position: relative;
}
.can-you-make-this-earringmess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 47px;
}
.mar-20mess{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.emily-carter2mess{
  background: var(--color, #faf5ee);
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 139px;
  position: relative;
}
.check-box-outline-blank2mess{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-312mess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.emily-carter3mess{
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.general-inquirymess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  position: relative;
}
.i-absolutely-love-your-workmess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 47px;
}
.sam-adamsmess{
  background: var(--color, #faf5ee);
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 139px;
  position: relative;
}
.check-box-outline-blank3mess{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-314mess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-207mess{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.frame-742mess{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 146px;
  position: relative;
}
.sam-adams2mess{
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.purchase-inquirymess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  position: relative;
}
.can-you-make-this-earring-for-memess{
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 47px;
}
.mar-19mess{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.sam-adams3mess{
  background: var(--color, #faf5ee);
  border-radius: 0px 0px 20px 20px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 139px;
  position: relative;
}
.check-box-outline-blank4mess{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.mary-janemess{
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.mar-18mess{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.group-84mess{
  flex: 1;
  height: 660.85px;
  position: static;
}
.frame-387mess{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 754px;
  position: absolute;
  left: 386px;
  top: 78.15px;
}
.frame-386mess{
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 103.94px;
  position: relative;
}
.frame-384mess{
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 41px;
  position: relative;
}
.tomess{
  color: var(--grey-text, #6d6d6d);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.frame-385mess{
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 41px;
  position: relative;
}
.frommess{
  color: var(--grey-text, #6d6d6d);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
}
.frame-383mess{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 540.91px;
  position: relative;
}
.frame-218mess{
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-219mess{
  background: var(--color, #faf5ee);
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px 1px 0px 1px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-290mess{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-289mess{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.top-questionsmess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.buttonmess{
  background: var(--m3-white, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.state-layermess{
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-textmess{
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2mess{
  background: var(--white, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 227px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.state-layer2mess{
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-text2mess{
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-questionsmess{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.button3mess{
  background: var(--m3-white, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 232px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.button4mess{
  background: #ffffff;
  border-radius: 100px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.navigate-nextmess{
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
