.post-an-ad,
.post-an-ad * {
  box-sizing: border-box;
}
.post-an-ad {
  background: var(--color, #faf5ee);
  height: 1420px;
  position: relative;
  overflow: hidden;
}

.group-129 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.group-95 {
  position: absolute;
  inset: 0;
}
.group-94 {
  width: 317px;
  height: 27px;
  position: static;
}



.frame-220 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: -25%;
  
}
.ad-title {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-72 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ad-title2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 655px;
  height: 205px;
  position: relative;
}
.product-title {
  color: #000000;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.tips {
  background: var(--form-grey, #3b3b3b);
  border-radius: 10px;
  opacity: 0.52;
  padding: 24px 12px 24px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 655px;
  position: relative;
}
.heroicons-solid-light-bulb {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.write-a-descriptive-title-for-a-high-performing-ad {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: relative;
}
.frame-94 {
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  color: #000;
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  padding: 5px 10px;
}


.select-a-category {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-291 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-71 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.select-a-category2 {
  color: #000000;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.frame-712 {
  color: var(--light-grey, #000000);
  text-align: justified;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;

  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--form-grey, #3b3b3b);
  border-width: 1px;
  gap: 10px;
  height: 47px;
 

  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  
}

.dropopt1{
  color: var(--light-grey, #000000);
  text-align: justified;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
}
.select-a-category3 {
  background: var(--white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 656px;
  height: 56px;
  position: relative;
}
.frame-136 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.select-a-category4 {
  color: var(--red, #93151f);
  text-align: justified;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
}
.mingcute-down-fill {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-166 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.view-all {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1.5px;
  padding: 11px 28px 11px 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 204px;
  height: 49px;
  position: relative;
}
.sell-on-atawake2 {
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-button {
  background: var(--red, #93151f);
  border-radius: 25.5px;
  padding: 13px 26px 13px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 204px;
  height: 49px;
  position: relative;
}
.shop {
  color: var(--beige, #fff8ef);
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: 1280px;
  height: 111px;
  position: absolute;
  left: 0px;
  top: -5px;
}
.rectangle-161 {
  background: var(--brown, #392516);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 2px 5.8px 0px rgba(0, 0, 0, 0.22);
}
.div2 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  right: 8.44%;
  left: 88.91%;
  width: 2.66%;
  bottom: 44.53%;
  top: 32.85%;
  height: 22.63%;
}
.group-55 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  border-radius: 29.5px;
  border-style: solid;
  border-color: var(--color, #faf5ee);
  border-width: 1.5px;
  width: 44.69%;
  height: 43.07%;
  position: absolute;
  right: 24.61%;
  left: 30.7%;
  bottom: 29.2%;
  top: 27.74%;
}
.frame-134 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 419px;
  top: 50px;
}
.div3 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: relative;
  width: 35px;
  height: 36px;
}
.search {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
}
.div4 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  right: 12.97%;
  left: 84.69%;
  width: 2.34%;
  bottom: 44.53%;
  top: 32.85%;
  height: 22.63%;
}
.div5 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  right: 17.19%;
  left: 80.7%;
  width: 2.11%;
  bottom: 44.53%;
  top: 32.85%;
  height: 22.63%;
}
.group-56 {
  position: absolute;
  inset: 0;
}
.frame-135 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 87px;
  position: absolute;
  left: 274px;
  top: 55px;
}
.div6 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: relative;
}
.shop2 {
  color: var(--color, #faf5ee);
  text-align: center;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desn-443-logo-01-2 {
  width: 11.01%;
  height: 56px;
  position: absolute;
  right: 80.55%;
  left: 8.44%;
  top: 43px;
  object-fit: cover;
  aspect-ratio: 140.98/56;
}







 /* Dropdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}