/* Figma Styles of your File */
:root {
  /* Colors */
  --black: #000000;
  --red: #93151f;
  --brown: #392516;
  --beige: #faf5ee;
  --green: #0f2a2d;

  /* Fonts */
  --header-1-font-family: Inter-SemiBold, sans-serif;
  --header-1-font-size: 38px;
  --header-1-line-height: normal;
  --header-1-font-weight: 600;
  --header-1-font-style: normal;
  --header-2-font-family: Inter-Medium, sans-serif;
  --header-2-font-size: 27px;
  --header-2-line-height: normal;
  --header-2-font-weight: 500;
  --header-2-font-style: normal;
  --header-3-font-family: Inter-SemiBold, sans-serif;
  --header-3-font-size: 25px;
  --header-3-line-height: normal;
  --header-3-font-weight: 600;
  --header-3-font-style: normal;
  --header-4-font-family: Inter-Regular, sans-serif;
  --header-4-font-size: 20px;
  --header-4-line-height: 27px;
  --header-4-font-weight: 400;
  --header-4-font-style: normal;
  --body-font-family: Inter-Regular, sans-serif;
  --body-font-size: 16px;
  --body-line-height: 18px;
  --body-font-weight: 400;
  --body-font-style: normal;
  --header-5-font-family: Inter-Regular, sans-serif;
  --header-5-font-size: 17px;
  --header-5-line-height: 27px;
  --header-5-font-weight: 400;
  --header-5-font-style: normal;
  --button-font-family: Inter-Medium, sans-serif;
  --button-font-size: 20px;
  --button-line-height: 18px;
  --button-font-weight: 500;
  --button-font-style: normal;
  --icon-label-font-family: Inter-Bold, sans-serif;
  --icon-label-font-size: 14px;
  --icon-label-line-height: 20px;
  --icon-label-font-weight: 700;
  --icon-label-font-style: normal;
  --bold-body-font-family: Inter-Bold, sans-serif;
  --bold-body-font-size: 16px;
  --bold-body-line-height: 18px;
  --bold-body-font-weight: 700;
  --bold-body-font-style: normal;

  /* Effects */
}

html, body {
  margin: 0;
  padding: 0;
}

.shop-homepage-buyer,
.shop-homepage-buyer * {
  box-sizing: border-box;
}
.shop-homepage-buyer {
  background: var(--color, #faf5ee);
  height: 3965px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.group-103 {
  position: absolute;
  inset: 0;
}
.ellipse-33 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 40px;
  width: 448.68px;
  height: 448.68px;
  position: absolute;
  left: 955px;
  top: 850px;
}
.ellipse-34 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 40px;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 1039px;
  top: 934px;
}
.group-104 {
  position: absolute;
  inset: 0;
}
.ellipse-332 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 33px;
  width: 313.82px;
  height: 313.82px;
  position: absolute;
  left: 145px;
  top: 590.63px;
}
.ellipse-342 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 33px;
  width: 195.84px;
  height: 195.84px;
  position: absolute;
  left: 203.75px;
  top: 649.39px;
}
.group-102 {
  position: absolute;
  inset: 0;
}
.ellipse-333 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 40px;
  width: 448.68px;
  height: 448.68px;
  position: absolute;
  left: 995px;
  top: 2043px;
}
.ellipse-343 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 40px;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 1079px;
  top: 2127px;
}
.slider {
  margin: auto;
  align-items: center;
  width: 1280px;
  height: 381px;
  position: relative;
  
  top: 136px;
}
.group-65 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  margin: auto;
  width: 100%;
  height: 381px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.group-59 {
  position: absolute;
  inset: 0;
}
.made-with-heart {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 196px;
  top: 57px;
}
.explore-handcrafted-goods-made-by-indigenous-artisans {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 54px;
  font-weight: 600;
  position: absolute;
  left: 196px;
  top: 112px;
  width: 821px;
  height: 129px;
}
.group-58 {
  width: 273px;
  height: 47px;
  position: static;
}
.rectangle-4 {
  background: var(--red, #93151f);
  border-radius: 23.5px;
  width: 273px;
  height: 47px;
  position: absolute;
  left: 196px;
  top: 266px;
}
.shop-handmade-items {
  color: var(--color, #faf5ee);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 224px;
  top: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stroke-1 {
  width: 26px;
  height: 13px;
  position: absolute;
  left: 1187px;
  top: 204px;
  overflow: visible;
}
.stroke-2 {
  width: 26px;
  height: 13px;
  position: absolute;
  left: 93px;
  top: 204px;
  overflow: visible;
}
.slider2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 604px;
  top: 334px;
}
.dot {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.slider-dot {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.slide-01 {
  background: #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.dot2 {
  margin: 0 0 0 -12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.slider-dot2 {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.slide-012 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.popular-items {
  color: var(--red, #93151f);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
  left: 108px;
  top: 0px;
}
.from-our-artists {
  color: var(--red, #93151f);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: -50px;
}
.div {
  color: var(--red, #93151f);
  text-align: center;
  font-family: "SfCompact-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 428px;
  top: 2780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popularContainer{
  margin: auto;
  align-self: center;
  width: 1200px;
  height: 168px;
  position: relative;
  top: 700px;


}
.artistContainer{
  margin: auto;
  align-self: center;
  width: 1200px;
  height: 168px;
  position: relative;
  top: 331px;
  


}
.explore-local-artists {
  color: var(--red, #93151f);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  position: absolute;
  left: 7%;
  top: 20px;
}

.rectangle-153 {
  margin: auto;
  background: var(--red, #93151f);
  border-radius: 25px;
  width: 1200px;
  height: 168px;
  position: relative;
  
  top: 200px;
}
.your-vision-their-craft {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 27px;
  font-weight: 500;
  position: relative;
  left: 7%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.work-with-indigenous-artisans-to-create-a-custom-one-of-a-kind-piece-made-just-for-you {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: relative;
  left: 7%;
  top: 20%;
  width: 701px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-62 {
  position: absolute;
  inset: 0;
}
.rectangle-154 {
  border-radius: 31.5px;
  border-style: solid;
  border-color: var(--color, #faf5ee);
  border-width: 1px;
  width: 269px;
  height: 48px;
  position: relative;
  left: 70%;
  
}
.browse-custom-goods {
  color: var(--color, #faf5ee);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-63 {
  position: absolute;
  inset: 0;
}
.rectangle-1542 {
  border-radius: 31.5px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1px;
  width: 138px;
  height: 48px;
  position: absolute;
  left: 108px;
  top: 190px;
  color: var(--red, #93151f);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  
  line-height: 210%;
}


.artists {
  width: 344px;
  height: 593px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-160 {
  background: var(--red, #93151f);
  border-radius: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mask-group {
  width: 100%;
  height: 58.01%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 41.99%;
  top: 0%;
  overflow: visible;
}
.the-story-behind-the-beads-honoring-craftsmanship {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  position: absolute;
  right: 6.98%;
  left: 7.27%;
  width: 85.76%;
  bottom: 21.59%;
  top: 68.3%;
  height: 10.12%;
}
.mask-group2 {
  width: 18.92%;
  height: 10.98%;
  position: absolute;
  right: 40.09%;
  left: 40.99%;
  bottom: 36.58%;
  top: 52.45%;
  overflow: visible;
}
.taya-sky {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  position: absolute;
  right: 71.22%;
  left: 7.27%;
  width: 21.51%;
  bottom: 15.18%;
  top: 80.27%;
  height: 4.55%;
}
.group-67 {
  position: absolute;
  inset: 0;
}
.rectangle-1543 {
  border-radius: 31.5px;
  border-style: solid;
  border-color: var(--color, #faf5ee);
  border-width: 0.75px;
  width: 33.72%;
  height: 5.75%;
  position: absolute;
  right: 59.01%;
  left: 7.27%;
  bottom: 3.69%;
  top: 90.56%;
}
._5-min-read {
  color: var(--color, #faf5ee);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 64.83%;
  left: 13.08%;
  width: 22.09%;
  bottom: 4.91%;
  top: 91.75%;
  height: 3.34%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artists2 {
  width: 344px;
  height: 593px;
  position: absolute;
  left: 368px;
  top: 0px;
}
.mask-group3 {
  width: 100%;
  height: 58.01%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 41.99%;
  top: 0%;
  overflow: visible;
}
.mask-group4 {
  width: 18.92%;
  height: 10.98%;
  position: absolute;
  right: 40.09%;
  left: 40.99%;
  bottom: 36.58%;
  top: 52.45%;
  overflow: visible;
}
.taya-sky2 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  position: absolute;
  right: 60.17%;
  left: 7.27%;
  width: 32.56%;
  bottom: 15.18%;
  top: 80.27%;
  height: 4.55%;
}
.artists3 {
  width: 344px;
  height: 593px;
  position: absolute;
  left: 728px;
  top: 0px;
}
.mask-group5 {
  width: 100%;
  height: 58.01%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 41.99%;
  top: 0%;
  overflow: visible;
}
.mask-group6 {
  width: 18.92%;
  height: 10.98%;
  position: absolute;
  right: 40.09%;
  left: 40.99%;
  bottom: 36.58%;
  top: 52.45%;
  overflow: visible;
}
.taya-sky3 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  position: absolute;
  right: 56.4%;
  left: 7.27%;
  width: 36.34%;
  bottom: 15.18%;
  top: 80.27%;
  height: 4.55%;
}
.artist-cards {
  width: 247px;
  height: 427.53px;
  position: absolute;
  left: 379px;
  top: 0;
}
.taya-sky4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 8.31%;
  top: 84.67%;
  height: 7.02%;
}
.mask-group7 {
  width: 100%;
  height: 80.46%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 19.54%;
  top: 0%;
  overflow: visible;
}
.sherwood-park-ab {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 37.25%;
  left: 0%;
  width: 62.75%;
  bottom: 0%;
  top: 93.56%;
  height: 6.44%;
}
.artist-cards2 {
  width: 247px;
  height: 427.53px;
  position: absolute;
  left: 652px;
  top: 0px;
}
.mask-group8 {
  width: 100%;
  height: 80.46%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 19.54%;
  top: 0%;
  overflow: visible;
}
.artist-cards3 {
  width: 247px;
  height: 427.53px;
  position: absolute;
  left: 925px;
  top: 0px;
}
.mask-group9 {
  width: 100%;
  height: 80.46%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 19.54%;
  top: 0%;
  overflow: visible;
}
.products-carousel {
  width: 1172px;
  height: 469px;
  position: absolute;
  left: 108px;
  top: 60px;
  overflow: hidden;
}
.item-cards {
  width: 344px;
  height: 469px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.flowers-hoodie {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 45.35%;
  left: 0%;
  width: 54.65%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group10 {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._4-7 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  right: 19.19%;
  left: 73.26%;
  width: 7.56%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._90 {
  color: #000000;
  text-align: right;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 90.12%;
  width: 9.88%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  right: 12.21%;
  left: 81.98%;
  width: 5.81%;
  bottom: 16.84%;
  top: 79.1%;
  height: 4.05%;
}
.taya-sky5 {
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: absolute;
  right: 75.29%;
  left: 0%;
  width: 24.71%;
  bottom: 8.74%;
  top: 85.5%;
  height: 5.76%;
}
.ca-45-00 {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-2-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-2-font-size, 27px);
  font-weight: var(--header-2-font-weight, 500);
  position: absolute;
  right: 61.63%;
  left: 0%;
  width: 38.37%;
  bottom: 0%;
  top: 92.96%;
  height: 7.04%;
}
.item-cards2 {
  width: 344px;
  height: 469px;
  position: absolute;
  left: 373px;
  top: 0px;
}
.flowers-hoodie2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 42.73%;
  left: 0%;
  width: 57.27%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group11 {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._4-72 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  right: 19.19%;
  left: 72.97%;
  width: 7.85%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._902 {
  color: #000000;
  text-align: right;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 87.5%;
  width: 12.5%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ca-45-002 {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-2-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-2-font-size, 27px);
  font-weight: var(--header-2-font-weight, 500);
  position: absolute;
  right: 62.79%;
  left: 0%;
  width: 37.21%;
  bottom: 0%;
  top: 92.96%;
  height: 7.04%;
}
.item-cards3 {
  width: 344px;
  height: 469px;
  position: absolute;
  left: 746px;
  top: 0px;
}
.flowers-hoodie3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 38.08%;
  left: 0%;
  width: 61.92%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group12 {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._4-73 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  right: 19.19%;
  left: 72.67%;
  width: 8.14%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.taya-sky6 {
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: absolute;
  right: 62.79%;
  left: 0%;
  width: 37.21%;
  bottom: 8.74%;
  top: 85.5%;
  height: 5.76%;
}
.item-cards4 {
  width: 344px;
  height: 469px;
  position: absolute;
  left: 1119px;
  top: 0px;
}
.flowers-hoodie4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 51.74%;
  left: 0%;
  width: 48.26%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group13 {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._903 {
  color: #000000;
  text-align: right;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 87.21%;
  width: 12.79%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.taya-sky7 {
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: absolute;
  right: 58.14%;
  left: 0%;
  width: 41.86%;
  bottom: 8.74%;
  top: 85.5%;
  height: 5.76%;
}
.item-cards5 {
  width: 344px;
  height: 469px;
  position: absolute;
  left: 1492px;
  top: 0px;
}
.flowers-hoodie5 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 56.69%;
  left: 0%;
  width: 43.31%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group14 {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._904 {
  color: #000000;
  text-align: right;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 88.37%;
  width: 11.63%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ca-45-003 {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-2-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-2-font-size, 27px);
  font-weight: var(--header-2-font-weight, 500);
  position: absolute;
  right: 58.14%;
  left: 0%;
  width: 41.86%;
  bottom: 0%;
  top: 92.96%;
  height: 7.04%;
}
.group-672 {
  height: auto;
  position: absolute;
  left: 1048px;
  top: 140px;
  overflow: visible;
}
.fromCont {
  margin: auto;
  align-self: center;
  width: 1045px;
  height: 328px;
  position: relative;
  
  top: 1970px;
  
}
.discoverCont {
  margin: auto;
  align-self: center;
  width: 1045px;
  height: 328px;
  position: relative;
  
  top: 1070px;
}

.discover-community-markets {
  color: var(--red, #93151f);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
  left: 372px;
  top: 1px;
}
.market-carousel {
  width: 1045px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 70px;
  overflow: hidden;
}
.component-5 {
  width: 249px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.market-s-name {
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 5.22%;
  left: 5.62%;
  width: 89.16%;
  bottom: 9.15%;
  top: 81.71%;
  height: 9.15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask-group15 {
  width: 100%;
  height: 75.91%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 24.09%;
  top: 0%;
  overflow: visible;
}
.component-52 {
  width: 249px;
  height: 328px;
  position: absolute;
  left: 314px;
  top: 0px;
}
.mask-group16 {
  width: 100%;
  height: 75.91%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 24.09%;
  top: 0%;
  overflow: visible;
}
.component-53 {
  width: 249px;
  height: 328px;
  position: absolute;
  left: 628px;
  top: 0px;
}
.market-s-name2 {
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 5.22%;
  left: 5.62%;
  width: 89.16%;
  bottom: 0%;
  top: 81.71%;
  height: 18.29%;
}
.mask-group17 {
  width: 100%;
  height: 75.91%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 24.09%;
  top: 0%;
  overflow: visible;
}
.component-54 {
  width: 249px;
  height: 328px;
  position: absolute;
  left: 942px;
  top: 0px;
}
.mask-group18 {
  width: 100%;
  height: 75.91%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 24.09%;
  top: 0%;
  overflow: visible;
}
.group-673 {
  height: auto;
  position: absolute;
  left: 921px;
  top: 93px;
  overflow: visible;
}
.ellipse-334 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 36px;
  width: 373.45px;
  height: 373.45px;
  position: absolute;
  left: -225px;
  top: 2141px;
}
.ellipse-344 {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(57, 37, 22, 0.15);
  border-width: 36px;
  width: 233.05px;
  height: 233.05px;
  position: absolute;
  left: -155.08px;
  top: 2210.92px;
}
.footer {
  background: var(--brown, #392516);
  width: 100%;
  height: 389px;
  margin: auto;
  align-self: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.rectangle-178 {
  background: #392516;
  width: 100%;
  height: 22.88%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 77.12%;
}
.rectangle-31 {
  background: #392516;
  width: 100%;
  height: 77.12%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 22.88%;
  top: 0%;
}
.desn-443-logo-01-4 {
  width: 16.3%;
  height: 83.02px;
  position: absolute;
  right: 73.87%;
  left: 9.83%;
  top: 50px;
  object-fit: cover;
  aspect-ratio: 209/83.02;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  position: absolute;
  right: 61.7%;
  left: 33.78%;
  width: 4.52%;
  bottom: 83.29%;
  top: 9.77%;
  height: 6.94%;
}
.help {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  position: absolute;
  right: 23.79%;
  left: 72.78%;
  width: 3.43%;
  bottom: 83.29%;
  top: 9.77%;
  height: 6.94%;
}
.community {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  position: absolute;
  right: 40.72%;
  left: 50.7%;
  width: 8.58%;
  bottom: 83.29%;
  top: 9.77%;
  height: 6.94%;
}
.about-atawake {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 57.25%;
  left: 33.78%;
  width: 8.97%;
  bottom: 73.52%;
  top: 21.85%;
  height: 4.63%;
}
.from-artists {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 41.89%;
  left: 51.01%;
  width: 7.1%;
  bottom: 73.52%;
  top: 21.85%;
  height: 4.63%;
}
.help-center {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 20.36%;
  left: 72.78%;
  width: 6.86%;
  bottom: 73.52%;
  top: 21.85%;
  height: 4.63%;
}
.faq {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 24.8%;
  left: 72.78%;
  width: 2.42%;
  bottom: 64.52%;
  top: 30.85%;
  height: 4.63%;
}
.accessibility {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 19.81%;
  left: 72.78%;
  width: 7.41%;
  bottom: 55.53%;
  top: 39.85%;
  height: 4.63%;
}
.en-francais {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 20.44%;
  left: 72.78%;
  width: 6.79%;
  bottom: 46.53%;
  top: 48.84%;
  height: 4.63%;
}
.community-markets {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 37.13%;
  left: 51.01%;
  width: 11.86%;
  bottom: 64.52%;
  top: 30.85%;
  height: 4.63%;
}
.careers {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 61.7%;
  left: 33.62%;
  width: 4.68%;
  bottom: 55.53%;
  top: 39.85%;
  height: 4.63%;
}
.posting-policy {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 57.96%;
  left: 33.78%;
  width: 8.27%;
  bottom: 46.53%;
  top: 48.84%;
  height: 4.63%;
}
.sell-on-atawake {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  right: 56.86%;
  left: 33.78%;
  width: 9.36%;
  bottom: 64.52%;
  top: 30.85%;
  height: 4.63%;
}
.group-95 {
  position: absolute;
  inset: 0;
}
.group-94 {
  width: 317px;
  height: 27px;
  position: static;
}
._2025-atawake-inc {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  position: absolute;
  right: 51.95%;
  left: 38.46%;
  width: 9.59%;
  bottom: 8.74%;
  top: 84.32%;
  height: 6.94%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-of-use {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  right: 42.82%;
  left: 50.31%;
  width: 6.86%;
  bottom: 8.74%;
  top: 84.32%;
  height: 6.94%;
}
.privacy {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  right: 36.82%;
  left: 59.36%;
  width: 3.82%;
  bottom: 8.74%;
  top: 84.32%;
  height: 6.94%;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  position: absolute;
  right: 62.09%;
  left: 36.58%;
  width: 1.33%;
  bottom: 8.74%;
  top: 84.32%;
  height: 6.94%;
}
.ri-instagram-fill {
  width: 2.18%;
  height: 28px;
  position: absolute;
  right: 25.04%;
  left: 72.78%;
  top: 234px;
  overflow: hidden;
  aspect-ratio: 1;
}
.frame-133 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 935.33px;
  top: 234px;
}
.instagram {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.devicon-facebook {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.x {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.group-116 {
  position: absolute;
  inset: 0;
}
.rectangle-161 {
  background: var(--brown, #392516);
  width: 100%;
  height: 137px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2px 5.8px 0px rgba(0, 0, 0, 0.22);
}
.div4 {
  color: var(--color, #faf5ee);
  
  
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  right: 17.5%;
  left: 90%;
  
  bottom: 12.5%;
  top: 15%;
  height: 77.5%;
  
}

.rectangle-3 {
  border-radius: 29.5px;
  border-style: solid;
  border-color: var(--color, #faf5ee);
  border-width: 1.5px;
  width: 572px;
  height: 59px;
  position: relative;
  left: 33%;
  top: 38px;
}
.search {
  color: rgba(250, 245, 238, 0.52);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 8%;
  top: 30%;
}
.div5 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  left: 15px;
  top: 30%;
  width: 35px;
  height: 36px;
}
.div6 {
  color: var(--color, #faf5ee);
  
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  right: 17.5%;
  left: 53%;
  
  bottom: 12.5%;
  top: 15%;
  height: 77.5%;
  
}


.group-56 {
  width: 78px;
  height: 31px;
  position: relative;
  left: 23%;
  
}
.shop {
  color: var(--color, #faf5ee);
  text-align: center;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: relative;
  left: 35%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div7 {
  color: var(--color, #faf5ee);
  text-align: left;
  font-family: "SfCompact-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: relative;
  left: 5px;
  top: -30px;
}
.desn-443-logo-01-1 {
  width: 140.98px;
  height: 56px;
  position: absolute;
  left: 108px;
  top: 43px;
  object-fit: cover;
  aspect-ratio: 140.98/56;
}
.component-7 {
  
  width: 200px;
  height: 40px;
  position: relative;
  left: 80%;
  top: -38px;
}
.div8 {
  color: var(--color, #faf5ee);
  
  font-family: "SfCompact-Light", sans-serif;
  font-size: 26px;
  font-weight: 300;
  position: relative;
  right: 17.5%;
  left: 15%;
  
  bottom: 12.5%;
  top: 15%;
  height: 77.5%; 
}