/* Figma Styles of your File */



.log-in,
.log-in * {
  box-sizing: border-box;
}
.log-in {
  
  background: #ffffff;
  height: 1020px;
  position: relative;
  overflow: show;
}
.rectangle-177 {
  width: 100%;
  
  position: absolute;
  left: 0px;
  height: 100%;
  object-fit: cover;
}
















.frame-272,
.frame-272 * {
  box-sizing: border-box;
}
.frame-272 {
  background: #ffffff;
  border-radius: 20px;
  padding: 64px;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 32px;
  width: 760px;
  top: 7%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.frame-271 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 606px;
  position: relative;
}
.frame-275 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.log-in-as-a-seller {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-1-font-size, 38px);
  font-weight: var(--header-1-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-278 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.emaillog {
  color: #000000;
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  position: relative;
}
.email-input-boxlog {
  color: #000000;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--light-grey, #6d6d6d);
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.email2 {
  color: var(--light-grey, #6d6d6d);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-279 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.password {
  color: #000000;
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  position: relative;
}
.password2 {
  color: var(--light-grey, #6d6d6d);
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forgot-password {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--bold-body-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-body-font-size, 16px);
  line-height: var(--bold-body-line-height, 18px);
  font-weight: var(--bold-body-font-weight, 700);
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shop-button1 {
  background: var(--red, #93151f);
  border-radius: 25.5px;
  padding: 13px 26px 13px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 49px;
  position: relative;
}
.shop {
  color: var(--beige, #fff8ef);
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-41 {
  margin-top: -0.5px;
  border-style: solid;
  border-color: #6d6d6d;
  border-width: 0.5px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.log-in-through-social-media {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 604.7px;
  position: relative;
}
.facebooklog {
  flex-shrink: 0;
  width: 605px;
  height: 49px;
  position: static;
}
.frame-111 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 605px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.vectorlog {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.continue-with-facebook {
  color: #000000;
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.googlelog {
  flex-shrink: 0;
  width: 605px;
  height: 49px;
  position: static;
}
.google2log {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 605px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 63px;
}
.devicon-google {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.continue-with-google {
  color: #000000;
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.applelog {
  flex-shrink: 0;
  width: 605px;
  height: 49px;
  position: static;
}
.frame-114 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 605px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 126px;
}
.vector2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.continue-with-apple {
  color: #000000;
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
