.banner {
  background-image: url("../assets/banner.svg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 32px;
  border-radius: 24px;
  max-width: 1000px;
  margin: 80px auto 0 auto;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
}

.banner-text {
  font-size: 20px;
  font-weight: 500;
}
