

.sellercont{
  position: relative;
  height: 100%;
   
  width: 1210px;
  z-index: 59;

  align-items: center;
  margin: 0% auto 0px auto;
  box-sizing: border-box;
}



.footseperator{
  z-index: -99;
 
}

._2-1024-x-683-3sell {
  border-radius: 11px;
  width: 270px;
  height: 240px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 270/240;
  
}


.accountheadsell{
    display:flex;
    flex-direction: row;
    width:90%;
    margin: auto;
    padding-top: 3%;
}

.rectangle-208sell {
    background: rgba(0, 0, 0, 0.35);
    height: 526px;
    width: 1410px;
    margin: auto;
    position: relative;
  }
  
.accrec2sell{
    padding-left: 2%;

}

.taya-skysell {
    color: var(--red, #93151f);
    text-align: left;
    font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--header-1-font-size, 38px);
    font-weight: var(--header-1-font-weight, 600);
    position: relative;
    width: 197px;
    height: 58px;
  }


.rectangle-4sell {
        background: var(--red, #93151f);
        border-radius: 50px;
        height: 80.18px;
        width: 340px;
        position: relative;
        box-shadow: 0px 2px 3.9px 0px rgba(0, 0, 0, 0.25);
        margin: auto;
        display: flex;
        left: 8%;
      
}

.message-taya-skysell {
  color: var(--beige, #fff8ef);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  width: 209.94px;
  height: 30.13px;
  left: 26%;
  top: 20%;
 
  

}

.average-response-time-1-hrsell {
  color: var(--beige, #fff8ef);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  width: 174px;
  height: 29.7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 40%;
  top: 50%;
}


.awaysell {
  color: rgba(250, 245, 238, 0.79);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 37px;
  height: 29.7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 5%;
  top: 50%;
}




.frame-133 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 18%
}
.instagram {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}
.devicon-facebook {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.x {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}








.currently-at-holiday-marketsell {
  color: var(--red, #93151f);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  height: 29px;
  top: 30%;
}
.currently-at-holiday-market-span4sell {
  color: var(--red, #93151f);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.currently-at-holiday-market-span5sell{
  color: var(--red, #93151f);
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}
.currently-at-holiday-market-span6sell {
  color: var(--red, #93151f);
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}
.biocontsell{

    padding-top: 2%;
    width: 90%;
    margin: auto;
}

.biodescsell {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  position: relative;
  height: 115px;
  width: 70%;
  
}

.biosell {
  color: #000000;
  text-align: left;
  font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-1-font-size, 38px);
  font-weight: var(--header-1-font-weight, 600);
  position: relative;
}

.shop-buttonsell {
  background: var(--red, #93151f);
  border-radius: 45.5px;
  padding: 13px 26px 13px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 49px;
  position: relative;
  top: 3%;
}
._2-1024-x-683-1sell {
    width: 150.5px;
    height: 100.38px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 150.5/100.38;
  }
  .ellipse-11sell {
    background: #878787;
    border-radius: 50%;
    width: 69px;
    height: 68.3px;
    left: 2%;
    top:6%;
    position: relative;
  }  

.shopsell {
  color: var(--beige, #fff8ef);
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}




.item-hover {
  height: 469px;
  position: relative;
}
.flowers-hoodie {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  right: 34.88%;
  left: 0%;
  width: 65.12%;
  bottom: 16.2%;
  top: 77.4%;
  height: 6.4%;
}
.mask-group {
  width: 100%;
  height: 73.35%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 26.65%;
  top: 0%;
  overflow: visible;
}
._4-7 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  right: 19.19%;
  left: 72.67%;
  width: 8.14%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._90 {
  color: #000000;
  text-align: right;
  font-family: var(--header-5-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-5-font-size, 17px);
  line-height: var(--header-5-line-height, 27px);
  font-weight: var(--header-5-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 87.21%;
  width: 12.79%;
  bottom: 15.99%;
  top: 78.25%;
  height: 5.76%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "SfCompact-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  right: 12.21%;
  left: 81.98%;
  width: 5.81%;
  bottom: 16.84%;
  top: 79.1%;
  height: 4.05%;
}
.taya-sky {
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  font-family: var(--header-4-font-family, "Inter-Regular", sans-serif);
  font-size: var(--header-4-font-size, 20px);
  line-height: var(--header-4-line-height, 27px);
  font-weight: var(--header-4-font-weight, 400);
  position: absolute;
  right: 75.29%;
  left: 0%;
  width: 24.71%;
  bottom: 8.74%;
  top: 85.5%;
  height: 5.76%;
}
.ca-45-00 {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-2-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-2-font-size, 27px);
  font-weight: var(--header-2-font-weight, 500);
  position: absolute;
  right: 67.44%;
  left: 0%;
  width: 32.56%;
  bottom: 0%;
  top: 92.96%;
  height: 7.04%;
}



.artprodconta{
  display: flex;
  flex-direction: column;
  margin: auto;
  
  display:flex;
    flex-direction: column;
    width:90%;
    margin: auto;
    padding-top: 3%;
}

.artprodcardsa{
  display: flex;
  flex-direction: lrow;
  
}


.all-itemsa {
  color: var(--red, #93151f);
  text-align: left;
  font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-1-font-size, 38px);
  font-weight: var(--header-1-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}