
.settingset{
  background: var(--color, #faf5ee);
  height: 1412px;
  position: relative;
  overflow: hidden;
}

.frame-95set{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1240px;
  position: relative;
  margin: auto;
  top: 160px;
}
.settingsset{
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--header-1-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-1-font-size, 38px);
  font-weight: var(--header-1-font-weight, 600);
  position: relative;
}
.frame-96set{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-55set{
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 213px;
  position: relative;
}
.rectangle-86set{
  background: var(--white, #ffffff);
  border-radius: 20px;
  width: 1240px;
  height: 213px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.your-profileset{
  color: #000000;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  left: 98px;
  top: 14px;
}
.rectangle-96set{
  border-radius: 20px;
  width: 125px;
  height: 134px;
  position: absolute;
  left: 98px;
  top: 52px;
  object-fit: cover;
}
.taya-skysetset{
  color: #93151f;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  left: 242px;
  top: 50px;
  width: 229px;
  height: 27px;
}
.email-taya-gmail-comset{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 242px;
  top: 98px;
  width: 371px;
  height: 27px;
}
.view-allset{
  border-radius: 25px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1.5px;
  padding: 11px 28px 11px 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 41px;
  position: absolute;
  left: 969px;
  top: 145px;
}
.view-all2set{
  
  color: var(--red, #93151f);
  text-align: center;
  font-family: var(--button-font-family, "Inter-Medium", sans-serif);
  font-size: var(--button-font-size, 20px);
  line-height: var(--button-line-height, 18px);
  font-weight: var(--button-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switchset{
  background: var(--state-layers-on-surface-opacity-12, rgba(29, 27, 32, 0.12));
  border-radius: 100px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  width: 52px;
  height: 32px;
  position: absolute;
  left: 244px;
  top: 164px;
}
.handleset{
  align-self: stretch;
  flex: 1;
  position: relative;
}
.targetset{
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -12px;
  top: 50%;
  translate: 0 -50%;
}
.state-layerset{
  border-radius: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.handle-shapeset{
  background: var(--schemes-surface, #fef7ff);
  border-radius: 24px;
  padding: 11px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.containerset{
  border-radius: 23px;
  flex-shrink: 0;
  width: 2px;
  height: 2px;
  position: relative;
}
.hide-your-store-from-customersset{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: absolute;
  left: 244px;
  top: 135px;
}
.frame-56set{
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 118px;
  position: relative;
}
.rectangle-95set{
  background: var(--white, #ffffff);
  border-radius: 20px;
  width: 821px;
  height: 118px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div2set{
  color: #000000;
  text-align: left;
  font-family: var(
    --m3-label-large-prominent-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--m3-label-large-prominent-font-size, 14px);
  line-height: var(--m3-label-large-prominent-line-height, 20px);
  letter-spacing: var(--m3-label-large-prominent-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-prominent-font-weight, 600);
  position: absolute;
  left: 249px;
  top: 49px;
}
.passwordset{
  color: #000000;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: absolute;
  left: 104px;
  top: 43px;
}
.view-all3set{
  border-radius: 25px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1.5px;
  padding: 11px 28px 11px 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 41px;
  position: absolute;
  left: 969px;
  top: 39px;
}
.group-87set{
  align-self: stretch;
  flex-shrink: 0;
  height: 194px;
  position: static;
}
.rectangle-105set{
  background: var(--white, #ffffff);
  border-radius: 20px;
  width: 1240px;
  height: 194px;
  position: absolute;
  left: 0px;
  top: 379px;
}
.view-all4set{
  border-radius: 25px;
  border-style: solid;
  border-color: var(--red, #93151f);
  border-width: 1.5px;
  padding: 11px 28px 11px 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 41px;
  position: absolute;
  left: 969px;
  top: 482px;
}
.frame-132set{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 471.53px;
  position: absolute;
  left: 98px;
  top: 409px;
}
.communicationsset{
  color: #000000;
  text-align: left;
  font-family: var(--header-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--header-3-font-size, 25px);
  font-weight: var(--header-3-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.frame-131set{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.open-to-custom-ordersset{
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height, 18px);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-130set{
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.radio-buttonsset{
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container2set{
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer2set{
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.iconset{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-68set{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.clicking-this-box-lets-buyers-contact-you-for-custom-ordersset{
  color: #000000;
  text-align: left;
  font-family: var(--icon-label-font-family, "Inter-Bold", sans-serif);
  font-size: var(--icon-label-font-size, 10px);
  line-height: var(--icon-label-line-height, 20px);
  letter-spacing: var(--icon-label-letter-spacing, 0.1px);
  font-weight: var(--icon-label-font-weight, 700);
  position: relative;
  width: 272px;
}

