@import "tailwindcss";

/* Root Variables */
:root {
  --beige: #fff8ef;
  --red: #93151f;
  --dark-red: #5f030b;
  --brown: #392516;
  --yellow: #ffe3bb;
  --light-grey: #6d6d6d;

  --font-primary: "Inter", sans-serif;
}

/* Base Styling */
body {
  font-family: var(--font-primary);
  color: var(--beige);
  background-color: var(--beige);
  margin: 0;
  padding: 0;
}

/* Header 1 */
.h1 {
  font-size: 38px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: var(--beige);
}

/* Header 2 */
.h2 {
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: var(--beige);
}

/* Header 3 */
.h3 {
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: var(--beige);
}

/* Header 4 */
.h4 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px; /* 135% */
  color: var(--beige);
}

/* Header 5 */
.h5 {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px; /* 158.824% */
  color: var(--beige);
}

/* Body Text */
.body-text {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px; /* 112.5% */
  color: var(--beige);
}

/* Bold Text */
.bold-text {
  font-size: 54px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: var(--beige);
}

/* Button Text */
.button-text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px; /* 90% */
  color: var(--beige);
}

/* Icon Label */
.icon-label {
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px; /* 200% */
  letter-spacing: 0.1px;
  color: var(--beige);
}

/* Background Utility Classes */
.background-beige {
  background-color: var(--beige);
}

.background-red {
  background-color: var(--red);
}

.background-dark-red {
  background-color: var(--dark-red);
}

.background-brown {
  background-color: var(--brown);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-light-grey {
  background-color: var(--light-grey);
}
